body {

  margin: auto;
  height: 100vh;
}
header {
  border: solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

ul{
    display: flex;
}
li{
    margin-right: 7px ;
    list-style: none;
}
h1 {
  text-align: center;
  color: brown;
}
.parr {
  color: blue;
}
#nombre {
  color: green;
}

section {
  border: solid red;
  width: 600px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}
section .redes img {
  width: 100px;
  border: solid blueviolet;
  border-radius: 50%;
}
.contenedor{
  border: solid red;
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cuadrado{
  margin-left: 4px;
  width: 150px;
  height: 150px;
  background-color: blue;
}