/* h1{
    color: green;
}
h2{
    color: blue;
}

p{
    color: blueviolet;
}
h4{
    font-size: 40px;
    color: aqua;
    
} */

* {
  margin: 0;
  padding: 0;
}
body {
  border: solid red;
  height: 100vh;
}
article {
  border: solid blue 3px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: darkorange;
  color: brown;
  padding: 20px;
  margin: auto;
}
img {
  border: solid red;

  width: 150px;
  height: 150px;
  object-fit: contain;
}
.imagen2 {
  border: solid red;
  border-radius: 80px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

section {
  border: solid rgb(255, 174, 0) 3px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: rgb(22, 204, 92);
  color: rgb(40, 11, 145);
  padding: 20px;
  margin: auto;
}
.p2 {
  color: blue;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
